// DASHBOARD STYLES
.dashboard {
  display: flex;
  height: calc(100vh - 80px);
}

// DASHBOARD MAIN STYLES
.dashboard-main {
  flex-grow: 1;
  transition: 0.3s ease-in-out; /* Transition for adjusting margin */
}

.dashboard-guilds {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Adjust the number of columns as needed */
  margin-top: 2rem;
  // width: 100%;
  gap: 2rem;
  justify-items: center; /* Center items horizontally within each grid cell */
}

.dashboard-site-plants {
  padding: 1rem;
}

// MEDIAQUERIES
@media (max-width: 992px) {
  .dashboard-guilds {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .dashboard-guilds {
    grid-template-columns: 1fr;
  }
}
