// SIDEBARE
.dashboard {
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar-tools {
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out; /* Include width transition */
  background-color: $middle-gray-2;
  width: 20vw;
  padding: 20px;
}

.sidebar-tools-visible {
  transform: translateX(-100%);
  width: 0; /* Hide the sidebar by setting its width to 0 */
}

.sidebar-buttons {
  background-color: $middle-gray;
  z-index: 1000;
  width: 50px;
  // background-color: $middle-gray;
}

.dashboard-main {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out; /* Transition for adjusting margin */
}

.dashboard-main.expanded {
  margin-left: 0; /* Adjust margin when sidebar is hidden */
}

// DASHBOARD
.dashboard-guilds {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Adjust the number of columns as needed */
  margin-top: 2rem;
  // width: 100%;
  gap: 2rem;
  justify-items: center; /* Center items horizontally within each grid cell */
}

// MEDIAQUERIES
@media (max-width: 992px) {
  .dashboard-guilds {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .dashboard-guilds {
    grid-template-columns: 1fr;
  }
}
