// SIDEBARE
.dashboard {
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar-tools {
  transition: 0.3s ease-in-out; /* Add a transition for smoothness */
  background-color: $middle-gray-2;
  // min-width: 150px;
  padding: 20px;
}

.sidebar-buttons {
  background-color: $middle-gray;
  z-index: 1000;
  width: 50px;
  // background-color: $middle-gray;
}

.dashboard-main {
  flex-grow: 1;
  transition: 0.3s ease-in-out; /* Transition for adjusting margin */
}

// DASHBOARD
.dashboard-guilds {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Adjust the number of columns as needed */
  margin-top: 2rem;
  // width: 100%;
  gap: 2rem;
  justify-items: center; /* Center items horizontally within each grid cell */
}

.dashboard-site-plants {
  padding: 1rem;
}

// MEDIAQUERIES
@media (max-width: 992px) {
  .dashboard-guilds {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .dashboard-guilds {
    grid-template-columns: 1fr;
  }
}
