<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
     <form class="justify-content-start">
      <%= link_to  "Create", new_site_path, class: "btn btn-sm btn-outline-secondary" %>
      <%= link_to  "My RYB", new_site_path, class: "btn btn-sm btn-outline-secondary" %>
    </form>

  </div>
</nav>
