<div class="sidebar-buttons d-flex justify-content-center">
  <div class="btn-toggle" data-action="click->dashboard#toggleSidebarLeft">
    <%= image_tag "icons/sidebar_left_collapse_icon.svg",
                      alt: "Slide Sidebar Left",
                      width: "40",
                      height: "40",
                      data: { 'dashboard-target' => 'changeIconLeft' }
                      %>
  </div>
</div>
