.btn-green-small {
  color: $light-gray;
  border: $border-gray;
  padding: 8px 16px;
  transition: ease-in 0.15s;
  border-radius: $round-medium;
  font-size: 0.7rem;

  &:hover {
    background-color: $ryb-green;
    border: 0px;
  }
}

.btn-green-lg {
  width: 80%;
  text-align: center;
  padding: 0.5rem 0px;
  color: $light-gray;
  border: $border-gray;
  margin-bottom: 1rem;
  transition: ease-in 0.15s;
  border-radius: $round-medium;
  font-size: 1rem;

  &:hover {
    background-color: $ryb-green;
    border: 0px;
  }
}
