// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// CSS partials
@import "components/index";
@import "pages/index";

// General CSS
a {
  text-decoration: none;
  color: $ryb-green;
  transition: ease-in 0.15s;

  &:hover {
    color: $ryb-light-green;
  }
}

p {
  margin: 0;
}

body {
  background-color: $background-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $light-gray;
}

hr {
  color: white;
}

.container-85 {
  width: 85vw;
  margin: 0 auto;
}
