<div class="dashboard" data-controller="sidebar">
  <%= render "sites/dashboard/sidebarleft", site: @site %>
  <div class="sidebar-tools" data-sidebar-target="sidebarTools">
    <h4>View</h4>
  </div>
  <div class="dashboard-main" data-target="dashboardMain">
    <%= render "sites/dashboard/guilds", site: @site %>
  </div>
</div>
