<div class="container">
  <h1>My sites</h1>

  <ul>
    <% @sites.each do |site| %>
      <li><%= link_to site.name, site_path(site) %></li>
    <% end %>
  </ul>

  <div class="map-container">
    <div id="map"></div>
  </div>

  <%= link_to "Add new site", new_site_path, class: "btn btn-primary" %>
</div>
